<template>
  <div>
    <div class="text-center">
      <hr />
      Od autora <a href="https://mandaty.cz">Mandáty.cz</a><br/>
      Vyrobeno s ❤ v <a href="https://cs.wikipedia.org/wiki/Plasy">Plasích</a>
    </div>
    <div class="m-4 p-4"></div>
    <nav class="navbar fixed-bottom navbar-light bg-primary">
      <h5 class="text-light">Volební atlas se právě vyvíjí, dejte nám vědět připomínky, co vám chybí, apod.:</h5>
      <div class="form-group">
        <input ref="feedback" type="text" class="form-control form-text" v-if="!feedback" @focus="feedbackFocus" placeholder="Připomínky...">
      </div>
    </nav>
    <b-modal id="feedback-modal" title="Feedback" modal-cancel="Zrušit" modal-ok="Poslat" @shown="feedbackShown" @hidden="feedbackHide">
      <form>
        <b-form-textarea autofocus ref="textarea" class="form-control" id="exampleFormControlTextarea1" v-model="form.message" rows="3" max-rows="10" placeholder="Místo na vaše připomínky ..." />
        <b-form-input class="mt-2" placeholder="Vaše jméno..." v-model="form.name" />
        <b-form-input class="mt-2" placeholder="Kontakt..." v-model="form.contact" />
      </form>
      <template v-slot:modal-footer="{ ok, cancel}">
        <b-button variant="danger" @click="feedbackHide()" @blur="ok">
          Zrušit
        </b-button>
        <b-button variant="success" @click="feedbackSend()" @blur="cancel">
          Poslat
        </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
export default {
  data() {
    return {
      feedback: false,
      sent: false,
      apiAddress: 'https://api.volebniatlas.cz/feedback.php',
      form: {
        contact: '',
        message: '',
        name: ''
      }
    }
  },
  methods: {
    feedbackFocus() {
      this.feedback = true
      this.$bvModal.show('feedback-modal')
    },
    feedbackShown() {
    },
    feedbackSend() {
      this.feedback = false
      this.$bvModal.hide('feedback-modal')
      this.sendFeedback()
      this.$bvToast.toast('Děkujeme za zprávu!', {
        title: 'Posláno',
        variant: 'success',
        toaster: 'b-toaster-top-right'
      })
    },
    feedbackHide() {
      this.feedback = false
      this.$bvModal.hide('feedback-modal')
    },
    async sendFeedback() {
      let payload = {
        name: this.form.name,
        contact: this.form.contact,
        message: this.form.message
      }
      await this.$axios.$post(this.apiAddress, payload ).then(
        this.form.message = ''
      )
    }
  }
}
</script>