<template>
  <header class="navbar navbar-dark bd-navbar bg-primary">
    <NuxtLink class="navbar-brand" to="/">Volební atlas:<small class="d-none d-sm-inline"> detailní výsledky voleb na interaktivních mapách</small></NuxtLink>

    <ul class="navbar-nav flex-row ml-auto d-flex">
      <li class="nav-item">
        <NuxtLink to="/o-projektu" class="nav-link"><i class="fa fa-database"></i> 🐫 </NuxtLink>
      </li>
    </ul>
  </header>
</template>