<template>
  <div>
    <h4>Legenda:</h4>
    <div id="legend" />
  </div>

</template>

<script>
import * as d3 from "d3"

export default {
  props: [
    'names',
    'colors'
  ],
  computed: {
    names3() {
      return [this.names[0] + " více", "Zhruba stejně", this.names[1] + " více"]
    }
  },
  mounted() {
    const $this = this
    const w = 700
    const h = 90
    const translate = [10, 30, 50]
    const xTranslate = 30
    const xLegend = ["nízká hustota voličů", "vysoká hustota voličů"]

    const svg = d3
      .select("#legend")
      .append("svg")
      .attr("width", w)
      .attr("height", h)
    
    for (let i in this.colors) {
      const g = svg.append("g")
        .attr("transform", "translate(" + xTranslate + "," + translate[i] + ")")
        .attr("class", "legend")
      
      g.selectAll(".legend-rect")
        .data(this.colors[i])
        .enter()
        .append("rect")
        .attr("id", function(d, k) { return "legend-rect-" + i + "-" + k})
        .attr("x", function(d, k) { return 40 * k})
        .attr("y", 0)
        .attr("width", 39)
        .attr("height", 14)
        .attr("fill", function(d, k) {
          return $this.colors[i][k]
        })
      
      g.append("text")
        .attr("id", function() { return "legend-text-" + i})
        .attr("x", "205")
        .attr("y", "10")
        .attr("font-size", "13px")
        .attr("font-weight", "600")
        .text($this.names3[i])
    }

    for (let k in xLegend) {
      svg.append("text")
        .attr("x", function() { return (20 + k * 160 + xTranslate).toString()})
        .attr("y", function() { return (translate[2] + 25)})
        .attr("font-size", "11px")
        .attr("font-weight", "200")
        .attr("text-anchor", "middle")
        .text(xLegend[k])
    }
  },
  watch: {
    colors: function(newColors, oldColors) {
      const $this = this
      for (let i in newColors){
        for (let k in newColors[i]){
          d3.select("#legend-rect-" + i + "-" + k)
            .attr("fill", function() {
              return newColors[i][k]
            })
        }
      }
    },
    names: function(newNames, oldNames) {
      const $this = this
      for (let i in this.names3) {
        d3.select("#legend-text-" + i)
          .text($this.names3[i])
      }
    }
  }

}

</script>

<style scoped>

</style>