<template>
  <div class="border border-info p-2 m-2">
    <b-spinner v-if="loading" class="table-spinner" variant="secondary" label="Loading" />
    <h4>Vybrané okrsky</h4>
    <b-table striped fixed :items="itemsSelected" :fields="fieldsSelected"></b-table>
    <h4>{{ region }}</h4>
    <b-table striped fixed :items="itemsTotal" :fields="fieldsTotal"></b-table>
  </div>
    
</template>
<script>
export default {
  props: ['totals', 'selected', 'region', 'comparisonVariant'],
  computed: {
    itemsTotal() {
      let itemsTotal = []
      for (let i in this.totals['candidate_names']) {
        let item = {
          candidate_name: this.totals['candidate_names'][i],
          total_number: this.totals['total_number'],
          total_voted_candidate: this.totals['total_voted_candidates'][i],
          total_voted: this.totals['total_voted'][i],
          total_voters: this.totals['total_voters'][i],
          total_voted_perc_candidate: Math.round(this.totals['total_voted_candidates'][i] / this.totals['total_voted'][i] * 1000) / 10 + "%",
          participation: Math.round(this.totals['total_voted'][i] / this.totals['total_voters'][i] * 1000) / 10 + "%"
        }
        itemsTotal.push(item)
      }
      if (itemsTotal.length > 0) {
        this.loading = false
      }
      return itemsTotal
    },
    itemsSelected() {
      let itemsSelected = []
      for (let i in this.selected.candidate_names) {
        let selected_voted_perc_candidate = "-"
        if (this.selected.selected_voted[i] > 0) {
          selected_voted_perc_candidate = Math.round(this.selected.selected_voted_candidates[i] / this.selected.selected_voted[i] * 1000) / 10 + "%"
        }
        let selected_participation = "-"
        if (this.selected.selected_voters[i] > 0) {
          selected_participation = Math.round(this.selected.selected_voted[i] / this.selected.selected_voters[i] * 1000) / 10 + "%"
        }
        let selected_perc_candidate = "0%"
        if (this.comparisonVariant == 'one') {
          if (this.totals.total_voted_candidates[0] > 0) {
            selected_perc_candidate = Math.round(this.selected.selected_voted_candidates[i] / this.totals.total_voted_candidates[0] * 1000) / 10 + "%"
          }
        } else {
          if (this.totals.total_voted_candidates[i] > 0) {
            selected_perc_candidate = Math.round(this.selected.selected_voted_candidates[i] / this.totals.total_voted_candidates[i] * 1000) / 10 + "%"
          }
        }
        let selected_voted_perc = "0%"
        if (this.comparisonVariant == 'one') {
          if (this.totals.total_voted[0] > 0) {
            selected_voted_perc = Math.round(this.selected.selected_voted[i] / this.totals.total_voted[0] * 1000) / 10 + "%"
          }
        } else {
           if (this.totals.total_voted[i] > 0) {
            selected_voted_perc = Math.round(this.selected.selected_voted[i] / this.totals.total_voted[i] * 1000) / 10 + "%"
          }
        }
        let selected_voters_perc = "0%"
        if (this.comparisonVariant == 'one') {
          if (this.totals.total_voters[0] > 0) {
            selected_voters_perc = Math.round(this.selected.selected_voters[i] / this.totals.total_voters[0] * 1000) / 10 + "%"
          }
        } else {
          if (this.totals.total_voters[i] > 0) {
            selected_voters_perc = Math.round(this.selected.selected_voters[i] / this.totals.total_voters[i] * 1000) / 10 + "%"
          }
        }
        let item = {
          candidate_name: this.selected.candidate_names[i],
          selected_number: this.selected.selected_number[i],
          selected_voted_candidate: Math.round(this.selected.selected_voted_candidates[i] * 10) / 10,
          selected_voted: this.selected.selected_voted[i],
          selected_voters: this.selected.selected_voters[i],
          selected_voted_perc_candidate: selected_voted_perc_candidate,
          selected_participation: selected_participation,
          selected_perc_candidate: selected_perc_candidate,
          selected_voted_perc: selected_voted_perc,
          selected_voters_perc: selected_voters_perc
        }
        itemsSelected.push(item)
      }
      return itemsSelected
    }
  },
  data() {
    return {
      loading: true,
      fieldsSelected: [
        {
          key: 'candidate_name',
          label: '',
          variant: 'secondary'
        },
        {
          key: 'selected_number',
          label: 'Okrsky'
        },
        {
          key: 'selected_voted_candidate',
          label: 'Hlasy',
          class: 'font-weight-bold'
        },
        {
          key: 'selected_voted_perc_candidate',
          label: '%'
        },
        {
          key: 'selected_voted',
          label: 'Hlasovalo celkem'
        },
        {
          key: 'selected_voters',
          label: 'Registrovaní voliči'
        },
        {
          key: 'selected_participation',
          label: 'Účast'
        },
        {
          key: 'selected_perc_candidate',
          label: 'Podíl z hlasů za obvod',
          class: 'font-weight-bold'
        },
        {
          key: 'selected_voted_perc',
          label: 'Hlasovalo celkem výběr/obvod'
        },
        {
          key: 'selected_voters_perc',
          label: 'Registrovaní výběr/obvod'
        }
      ],
      fieldsTotal: [
        {
          key: 'candidate_name',
          label: '',
          variant: 'secondary'
        },
        {
          key: 'total_number',
          label: 'Počet okrsků'
        },
        {
          key: 'total_voted_candidate',
          label: 'Hlasy',
          class: 'font-weight-bold'
        },
        {
          key: 'total_voted_perc_candidate',
          label: '% hlasů'
        },
        {
          key: 'total_voted',
          label: 'Hlasovalo celkem'
        },
        {
          key: 'total_voters',
          label: 'Voliči'
        },
        {
          key: 'participation',
          label: 'Účast'
        }
      ],
    }
  }
}
</script>
<style scoped>
  .table-spinner {
    width: 1.5em;
    height: 1.5em;
  }
</style>