<template>
  <div>
    <Header />
    <div class="container">
      <div class="alert alert-info mt-2">
        <b-icon icon="exclamation-circle-fill" variant="light"></b-icon>
        Zvýrazněné jsou obvody, ve kterých proběhnou volby v září 2022
      </div>
      <div class="row mt-2">
        <div class="col">
          <h2>Kraje</h2>
          <b-list-group>
            <b-list-group-item v-for="(item, index) in regions" :key="item.id" :to="'/maps/region-' + item.id" :variant="index == 0?'success':'light'">
              {{ item.title }}
            </b-list-group-item>
          </b-list-group>
        </div>
        <div class="col">
          <h2>Senátní obvody</h2>
          <b-list-group>
            <b-list-group-item v-for="(item, index) in senates" :key="item.id" :to="'/maps/senate-' + item.id" :variant="(index % 3) == 0?'success':'light'">
              {{ item.title }}
            </b-list-group-item>
          </b-list-group>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import maps from '@/assets/data/topomaps.json'
import { BIcon, BIconExclamationCircleFill } from 'bootstrap-vue'

export default {
  data() {
    return {
      maps: maps
    }
  },
  computed: {
    regions() {
      return this.maps.filter(item => (item['type'] == 'region'))
    },
    senates() {
      return this.maps.filter(item => (item['type'] == 'senate'))
    }
  },
  components: {
    BIcon,
    BIconExclamationCircleFill
  }

}
</script>

<style>

</style>
