<template>
  <div>
    <Header />
    <div class="container">
      <nuxt-content :document="article" />
    </div>

    <Footer />
  </div>
    
</template>
<script>
export default {
  async asyncData({ $content }) {
    const article = await $content('pages', 'o-projektu').fetch()
    return { article }
  }
}
</script>