<template>
  <div>
    <Header />
    <div class="container">
      <div>
        <b-spinner id="map-spinner" v-if="loading" variant="success" class="mx-auto" label="Loading"></b-spinner>
        <div id="map-wrap" style="height: 50vh">
          <client-only>
            <l-map :zoom="zoom" :center="center" ref="theMap">
              <l-tile-layer :url="url"></l-tile-layer>
              <l-geo-json
                :geojson="geojson"
                :options="options"
                :options-style="styleFunction"
              ></l-geo-json>
            </l-map>
          </client-only>
        </div>
        <b-row align-v="center">
          <b-col md="8">
            <b-spinner v-if="loading" class="table-spinner" variant="secondary" label="Loading" />
            <Legends :colors="legendColors" :names="legendNames"/>
          </b-col>
          <b-col>
            <b-button @click="resetSelection" variant="warning" class="float-right">Resetovat výběr</b-button>
            <span class="m-1 p-1 smaller">Vybírat okrsky lze kliknutím nebo pomocí lasa</span>
          </b-col>
        </b-row>
        <Table :totals="tableTotal" :selected="tableSelected" :comparisonVariant="comparisonVariant" :region="tableName"/>
        <div class="border border-secondary p-2 m-2">
          <b-form-group label="Varianta porovnání" @change="update">
            <b-form-radio-group
              v-model="comparisonVariant"
              :options="comparisonVariantOptions"
              @change="update"
            ></b-form-radio-group>
          </b-form-group>
        </div>
        <div v-for="(item, i) in comparison['elections']" :key="i" class="border border-primary p-2 m-2">
          <b-spinner v-if="loading" class="table-spinner" variant="primary" label="Loading" />
          <div v-if="showElections[i]">
            <b-form-group :label="'Volby ' + (i + 1)">
              <b-form-radio-group
                :id="'radio-group-' + i"
                v-model="comparison['elections'][i]"
                :options="elections"
                :name="'radio-options-' + i"
                value-field="slug"
                text-field="name"
                @change="update"
              ></b-form-radio-group>
            </b-form-group>
            <b-form-group :label="'Strany ' + (i + 1)">
              <b-form-checkbox-group
                v-model="comparison['candidates'][i]"
                :options="candidates[i]"
                value-field="id"
                text-field="abbreviation"
                @change="update"
                switches
              ></b-form-checkbox-group>
            </b-form-group>
          </div>
        </div>
        <div class="border border-secondary p-2 m-2">
          <b-form-group label="Varianta barev" @change="update">
            <b-form-radio-group
              v-model="colorVariant"
              :options="colorVariantOptions"
              @change="update"
            ></b-form-radio-group>
          </b-form-group>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
// import { BIcon, BIconThreeDots } from 'bootstrap-vue'
import 'leaflet/dist/leaflet.css'
const topojson = require('topojson')
// import topojson from "topojson" // does not work because of topojson
import * as d3 from "d3"
// import "leaflet-lasso"

export default {
  data() {
    return {
      a: 0,
      t: '',
      name: '',
      url: 'https://{s}.tile.openstreetmap.de/{z}/{x}/{y}.png',
      // elections: [],
      comparison: {
        elections: [null, null],
        candidates: [[], []]
      },
      geojson: null,
      data: null,
      borderColor: "#abc",
      colorVariant: 'blue-yellow',
      colorVariantOptions: [
        { text: 'Barvy stran', value: 'parties'},
        { text: 'Modrá - žlutá', value: 'blue-yellow'},
        { text: 'Zelená - červená', value: 'green-red'}
      ],
      comparisonVariant: 'two',
      comparisonVariantOptions: [
        { text: 'Jedna strana vs. druhá strana', value: 'two'},
        { text: 'Jedna strana vs. svůj průměr (v obvodu)', value: 'one'},
      ],
      colorLevels: [0.33, 0.5, 0.67],
      selectedLayers: [],
      allLayers: [],
      loading: true
    }
  },
  head() {
    let data = this.data
    let title = 'Volební atlas'
    if (data){
      title = data.properties.name + " / Volební atlas"
    }
    return {
      title: title,
    }
  },
  computed: {
    test() {
      return this.a + 5
    },
    options() {
      let a = this.a
      let comparison = this.comparison
      return {
        onEachFeature: (feature, layer) => {
          this.onEachFeature(feature, layer)
          layer.bindTooltip(
            this.tooltipText(feature),
            { permanent: false, sticky: false }
          )
        }
      }
    },
    center() {
      if (this.data) {
        return [
                (this.data['bbox'][3] + this.data['bbox'][1]) / 2,
                (this.data['bbox'][2] + this.data['bbox'][0]) / 2
            ]
      } else {
        return [0, 0]
      }
    },
    zoom() {
      if (this.data) {
        let bigger = Math.max((this.data['bbox'][3] - this.data['bbox'][1]), (this.data['bbox'][2] - this.data['bbox'][0]) / 1.5)
        if (bigger < 0.175) {
          return 12
        }
        if (bigger < 0.35) {
          return 11
        }
        if (bigger < 0.7) {
          return 10
        } else {
          return 9
        }
      } else {
        return 9
      }
    },
    elections() {
      // console.log("computing elections")
      if (this.data) {
        let $this = this
        let elections = []
        for (let key in this.data.elections) {
          if (Object.keys($this.data.candidates[key]).length > 0) {
            elections.push(this.data.elections[key])
          }
        }
        elections.sort(function (a, b) {
          return b['year'] - a['year']
        })
          return elections
      } else {
        return []
      }
    },
    candidates() {
      // console.log("computing candidates")
      if (this.data) {
        let candidates = [[], []]
        for (let i = 0; i <= 1; i++) {
          let slug = this.comparison['elections'][i]
          if (slug) {
            let cobj = this.data['candidates'][slug]
            let c = []
            for (const k in cobj) {
              cobj[k]['result'] = this.data['data'][slug]['results'][k]
                c.push(cobj[k])
            }
            c.sort(function(a, b) {
              return b['result'] - a['result']
            })
            candidates[i] = c
          }
        }
        this.comparison['candidates'] = [[candidates[0][0]['id']], [candidates[1][1]['id']]] // resets also the other elections ???
        return candidates
      } else {
        return [[], []]
      }
    },
    limitsDensity: function () {
      let arr = []
      if (this.data) {
        this.data.objects.tracts.geometries.forEach(feature => {
          let ns = this.ns(feature)
          arr.push(parseFloat((ns[0] + ns[1]) / feature.properties.area * 1000000))
        })
      }
      arr.sort(function(a, b) { return a - b })
      let item = {
          min: d3.min(arr),
          q25: d3.quantile(arr, 0.25),
          median: d3.median(arr),
          q75: d3.quantile(arr, 0.75),
          max: d3.max(arr)
      }
      return item
    },
    colors() {
      {
        if (this.colorVariant == 'parties') {
          if (this.data) {
            let colors = ["gray", "gray"]
            for (let i = 0; i <= 1; i++) {
              const e = this.comparison['elections'][i]
              const c = this.comparison['candidates'][i][0]
              if (typeof this.data['candidates'][e][c] != 'undefined') {
                colors[i] = this.data['candidates'][e][c]['color']
              }
            }
            return colors
          } else {
            return ["gray", "blue"] // should not happen
          }
        }
        if (this.colorVariant == 'blue-yellow') {
          return ["blue", "yellow"]
        }
        if (this.colorVariant == 'green-red') {
          return ["green", "red"]
        }
        return ["blue", "yellow"]
      }
    },
    legendColors() {
      let a = this.a
      let legendColors = []
      for (let i = 0; i < 3; i++) {
        const colorLevel = this.colorLevels[2 - i]
        const row = [
          this.rgbaScale(colorLevel, this.limitsDensity.min),
          this.rgbaScale(colorLevel, this.limitsDensity.q25),
          this.rgbaScale(colorLevel, this.limitsDensity.median),
          this.rgbaScale(colorLevel, this.limitsDensity.q75),
          this.rgbaScale(colorLevel, this.limitsDensity.max)
        ]
        legendColors.push(row)
      }
      return legendColors
    },
    legendNames() {
      let a = this.a
      let legendNames = []
      let iMax = 1
      if (this.comparisonVariant == 'one') {
        iMax = 0
      } 
      for (let i = 0; i <= iMax; i++){
        const slug = this.comparison['elections'][i]
        let names = []
        for (const k of this.comparison['candidates'][i]) {
          if (typeof this.data['candidates'][slug][k] != 'undefined') {
            names.push(this.data['candidates'][slug][k]['abbreviation'])
          }
        }
        const name = names.join('+')
        legendNames.push(name)
      }
      if (this.comparisonVariant == 'one') {
        legendNames.push(legendNames[0] + " (průměr)")
      } else {
        if (this.data && (legendNames.length > 1) && (legendNames[0] == legendNames[1])) {
          for (let i = 0; i <= 1; i++){
            const slug = this.comparison['elections'][i]
            legendNames[i] = legendNames[i] + " " + this.data.elections[slug].name
          }
        }
      }
      return legendNames
    },
    tableTotal() {
      if (this.data) {
        let totalVotedCandidates = []
        let totalVoted = []
        let totalVoters = []
        let candidateNames = []
        const iMax = (this.comparisonVariant == 'one') ? 0 : 1
        for (let i = 0; i <= iMax; i++){
          totalVotedCandidates.push(0)
          candidateNames.push(this.legendNames[i])
          let e = this.comparison.elections[i]
          totalVoted.push(this.data.data[e].statistics.valid_votes)
          totalVoters.push(this.data.data[e].statistics.total_voters)
          for (let k of this.comparison.candidates[i]) {
            totalVotedCandidates[i] = totalVotedCandidates[i] + this.data.data[e].results[k]
          }
        }
        return {
          candidate_names: candidateNames,
          total_number: this.data.objects.tracts.geometries.length,
          total_voted_candidates: totalVotedCandidates,
          total_voted: totalVoted,
          total_voters: totalVoters
        }
      } else {
        return {
          candidate_names: []
        }
      }
    },
    sumSelected() {
      let selectedLayers = this.selectedLayers
      return this.sumLayers(selectedLayers)
    },
    sumAll() {
      let allLayers = this.allLayers
      return this.sumLayers(allLayers)
    },
    tableSelected() {
      let selectedNumber = []
      let selectedVotedCandidates = []
      let selectedVoted = []
      let selectedVoters = []
      let candidateNames = []
      const iMax = (this.comparisonVariant == 'one') ? 0 : 1
      if (this.data) {
        candidateNames = this.legendNames
        if (!(Object.keys(this.sumSelected).length === 0 && this.sumSelected.constructor === Object)) {
          for (let i = 0; i <= iMax; i++){
            let e = this.comparison.elections[i]
            selectedNumber.push(this.sumSelected[e].n)
            selectedVoted.push(this.sumSelected[e].statistics.valid_votes)
            selectedVoters.push(this.sumSelected[e].statistics.total_voters)
            selectedVotedCandidates.push(0)
            for (let c of this.comparison.candidates[i]) {
              if (c in this.sumSelected[e].results) {
                selectedVotedCandidates[i] = selectedVotedCandidates[i] + this.sumSelected[e].results[c]
              }
            }
          }
          if (iMax == 0) {
            let totalVotedCandidate = 0
            let e = this.comparison.elections[0]
            selectedNumber.push(selectedNumber[0])
            for (let k of this.comparison.candidates[0]) {
              totalVotedCandidate = totalVotedCandidate + this.data.data[e].results[k]
            }
            selectedVoted.push(selectedVoted[0])
            selectedVoters.push(selectedVoters[0])
            let svc = (selectedVoted[0] / this.data.data[e].statistics.valid_votes) * (totalVotedCandidate / this.data.data[e].statistics.valid_votes) * this.data.data[e].statistics.valid_votes
            selectedVotedCandidates.push(svc)            
          }
        } else {
          for (let i = 0; i <= 1; i++){
            selectedNumber.push(0)
            selectedVoted.push(0)
            selectedVoters.push(0)
            selectedVotedCandidates.push(0)
          }
        }
      }
      return {
        candidate_names: candidateNames,
        selected_number: selectedNumber,
        selected_voted_candidates: selectedVotedCandidates,
        selected_voted: selectedVoted,
        selected_voters: selectedVoters
      }
    },
    tableName() {
      let data = this.data
      if (data){
        return data.properties.name + " (celý obvod)"
      } else {
        return "Obvod"
      }
    },
    showElections() {
      if (this.comparisonVariant == 'one') {
        return [true, false]
      } else {
        return [true, true]
      }
    },
    parsedId() {
      let parsedId = this.$route.params.id.split('-')
      if (parsedId.length == 2) {
        return parsedId
      }
      return ['region', 'CZ032']
    },
    apiAddress() {
      let url = 'https://api.volebniatlas.cz/'
      let apiAddress = url + '?type=' + this.parsedId[0] + '&id=' + this.parsedId[1]
      return apiAddress
    }
  },
  mounted() {
    this.loadData()

  },
  methods: {
    update: function() {
      this.a++
      this.selectedLayers = []  // reset, easier (because layers are not the same if updated) **
    },
    async loadData() {
      this.data = await this.$axios.$get(this.apiAddress)
      this.geojson = topojson.feature(this.data, this.data.objects['tracts'])
      this.loading = false

      this.comparison['elections'] = [this.elections[0]['slug'], this.elections[0]['slug']]
      this.comparison['candidates'] = [[this.candidates[0][0]['id']], [this.candidates[1][1]['id']]]

      // LASSO
      this.$nextTick(() => {
        let $this = this
        require("leaflet-lasso")
        let map = this.$refs.theMap.mapObject
        const lassoControl = this.$L.control.lasso({ intersect: true }).addTo(map)
        d3.select(".leaflet-control-lasso").on("click", function() {
          $this.toggleLassoIcon()
        })
        map.on('lasso.finished', event => {
          $this.toggleLassoIcon()
          for (let layer of event.layers) {
            $this.toggleLayer(layer)
          }
        })
      })

    },
    sumLayers: function(layers) {
      let sumLayers = {}
      for (let k in layers) {
        let layer = layers[k]
        for (let e in layer.feature.properties.data) {
          let election = layer.feature.properties.data[e]
          if (!sumLayers.hasOwnProperty(e)) {
            sumLayers[e] = {
              results: {},
              statistics: {},
              n: 0
            }
          }
          let n1 = true
          for (let r in election.results) {
            if (!sumLayers[e].results.hasOwnProperty(r)) {
              sumLayers[e].results[r] = 0
            }
            if (n1) {
              sumLayers[e].n++
              n1 = false
            }
            sumLayers[e].results[r] = sumLayers[e].results[r] + election.results[r]
          }
          for (let s in election.statistics) {
            if (!sumLayers[e].statistics.hasOwnProperty(s)) {
              sumLayers[e].statistics[s] = 0
            }
            sumLayers[e].statistics[s] = sumLayers[e].statistics[s] + election.statistics[s]
          }
        }
      }
      return sumLayers
    },
    tooltipText(feature) {
      const ns = this.ns(feature)
      let texts = ['', '']
      for (let i = 0; i <= 1; i++){
        const slug = this.comparison['elections'][i]
        if (typeof feature['properties']['data'][slug]['statistics'] != 'undefined') {
          let perc = (Math.round(ns[i] / feature['properties']['data'][slug]['statistics']['valid_votes'] * 1000) / 10).toString() + "%"
          let name = this.legendNames[i]
          texts[i] = name + ": <strong>" + (Math.round(ns[i] * 10) / 10) + "</strong> <em>" + perc + "</em>"
        }
      }
      let joinTexts = texts.join("<br/>")
      const header = "<strong>" + feature.properties.place + " " + feature.properties.station + "</strong><br/>"
      return header + joinTexts
    },
    styleFunction(feature) {
      let comparison = this.comparison
      const fillColor = this.setColor(feature)
      const fillOpacity = this.setOpacity(feature)
      return {
        weight: 1,// Outline width
        color: fillColor, //Outline color
        opacity: fillOpacity, // Outline opacity
        fillColor: fillColor, // polygone color
        fillOpacity: fillOpacity  //polygon opacity
      }
    },
    setOpacity: function(feature) {
      const ns = this.ns(feature)
      return this.opacityScale((ns[0] + ns[1]) / feature.properties.area * 1000000)
    },
    setColor: function(feature) {
      const ns = this.ns(feature)
      return this.colorScale(ns[0] / (ns[0] + ns[1]))
    },
    opacityScale(a) {
      let opacityScale = d3.scaleLinear().domain([this.limitsDensity.min, this.limitsDensity.q25, this.limitsDensity.median, this.limitsDensity.q75, this.limitsDensity.max]).range([0.1, 0.2, 0.3, 0.5, 1])
      return opacityScale(a)
    },
    colorScale(a) {
      let colorScale = d3.scaleLinear().domain(this.colorLevels).range([this.colors[1], d3.interpolateRgb(this.colors[0], this.colors[1])(0.5), this.colors[0]])
      return colorScale(a)
    },
    rgbaScale(a, b) {
      if (this.data) {
        const color = this.colorScale(a)
        const alpha = this.opacityScale(b)
        return color.replace("rgb", "rgba").replace(")", "," + alpha.toString() + ")")
      }
      return null
    },
    ns: function(feature) {
      if (this.data) {
        let n = [0, 0]
        const iMax = (this.comparisonVariant == 'one') ? 0 : 1
        for (let i = 0; i <= iMax; i++){
          const e = this.comparison['elections'][i]
          for (const k of this.comparison['candidates'][i]) {
            if ((typeof feature['properties']['data'][e]['results'] != 'undefined') && (typeof feature['properties']['data'][e]['results'][k] != 'undefined')) {
              n[i] = n[i] + feature['properties']['data'][e]['results'][k]
            }
          }
        }
        if (iMax == 0) {
          const e = this.comparison['elections'][0]
          for (const k of this.comparison['candidates'][0]) {
            if ((typeof this.data.data[e]['results'] != 'undefined') && (typeof this.data.data[e]['results'][k] != 'undefined')) {
              n[1] = n[1] + this.data.data[e]['results'][k]
            }  
          }
          try {
            n[1] = n[1] / this.data.data[e]['statistics']['valid_votes'] * feature.properties.data[e].statistics['valid_votes']
          } catch(e) {
            n[1] = 0
          }
        }
        return n
      } else {
        return [0, 0]
      }
    },
    onEachFeature: function(feature, layer) {
      layer.on({
        mouseover: this.highlightEvent,
        mouseout: this.dehighlightEvent,
        click: this.toggleEvent
      })
      this.allLayers.push(layer)
    },
    toggleEvent: function(e) {
      this.toggleLayer(e.target)
    },
    highlightEvent: function(e) {
      this.highlightLayer(e.target)
    },
    toggleLayer: function(layer) {
      let index = this.selectedLayers.indexOf(layer)
      if (index > -1) {
        this.dehighlightSelectedLayer(layer)
        this.selectedLayers.splice(index, 1)
      } else {
        this.highlightSelectedLayer(layer)
        this.selectedLayers.push(layer)
      }
      this.sumSelected  // touch to recalculate
    },
    dehighlightEvent: function(e) {
      this.dehighlightLayer(e.target)
    },
    highlightLayer: function(layer) {
      layer.setStyle({
        fillOpacity: 1
      })
    },
    dehighlightLayer: function(layer) {
      layer.setStyle({
        fillOpacity: this.setOpacity(layer.feature)
      })
    },
    highlightSelectedLayer: function(layer) {
      layer.setStyle({
        weight: 5,
        opacity: 1
      })
    },
    dehighlightSelectedLayer: function(layer) {
      layer.setStyle({
        weight: 1,
        opacity: this.setOpacity(layer.feature)
      })
    },
    toggleLassoIcon: function() {
      let lc = d3.select(".leaflet-control-lasso")
      lc.classed("bg-info", !lc.classed("bg-info"))
    },
    resetSelection() {
      for (let layer of this.selectedLayers) {
        this.dehighlightSelectedLayer(layer)
      }
      this.selectedLayers = []
    }
  }
}
</script>

<style>
/* .container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

/* LEAFLET MAP */
.leaflet-tile-pane {
  opacity: 0.33;
  filter: grayscale(100%)
}
.leaflet-container {
  background-color: #fff;
}
.leaflet-tooltip.my-labels {
  background-color: transparent;
  border: black;
  box-shadow: none;
  font-weight: bold;
  font-size: 15px;
  color: white;
  text-shadow: 2px 2px #000000;
}

#map-spinner {
  width: 3rem;
  height: 3rem;
  position: relative;
  top: 25vh
}

.smaller {
  font-size: 0.8em;
}

</style>
